<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.datasplice.cordova.plugin.koamtac"
    version="1.0.0">

    <name>KoamTacScanners</name>

    <description>Plugins for the KoamTac suite of bluetooth scanners.</description>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <asset src="www/koamtac.js" target="koamtac.js" />

    <license>MIT</license>

    <!-- android -->
    <platform name="android">
        <!-- DataSplice plugin file -->
        <source-file src="src/android/com/datasplice/cordova/plugin/koamtac/KDC200Scanner.java" target-dir="src/com/datasplice/cordova/plugin/koamtac" />

        <!-- 
            KoamTac dependency files
            TODO: in the future these could be jarred and versioned. Kept with the plugin for simplicity for now.
        -->
        <source-file src="src/android/com/koamtac/AES.java" target-dir="src/com/koamtac" />
        <source-file src="src/android/com/koamtac/kdc200/BluetoothChatService.java" target-dir="src/com/koamtac/kdc200" />
        <source-file src="src/android/com/koamtac/kdc200/KScan.java" target-dir="src/com/koamtac/kdc200" />
        <source-file src="src/android/com/koamtac/kdc200/KTSyncData.java" target-dir="src/com/koamtac/kdc200" />

        <!-- Add the KDC200Scanner feature -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="KDC200Scanner">
                <param name="android-package" value="com.datasplice.cordova.plugin.koamtac.KDC200Scanner" />
            </feature>
        </config-file>

        <!-- Add the Android permissions -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>
    </platform>

</plugin>
